### Pandas. Практическое задание

В этом практическом задании одна обязательная задача.

*Обязательные задачи* нужно сделать, чтобы проверить, что вы действительно усвоили материал урока. Если у вас всё получилось, вы можете переходить к следующему уроку.

Удачи!

Цель практического задания — научиться создавать датафреймы.

В конце ноутбука вы можете найти ответы для самостоятельной проверки.

**Обязательные задачи**

**Задача 1**

Дана таблица с количеством учеников в параллели первых классов, состоящая из двух колонок:

- **class:** Название класса.
- **count:** Количество учеников в классе.

<p align="left">
  <img src="https://drive.google.com/uc?id=1J90nhGw_5GePyz-ilnx0lYXguKOn_-9V" alt="drawing" width="110"/>
</p>

Ваша задача — создать датафрейм для этой таблицы несколькими способами:

In [1]:
# Импортируйте pandas
import pandas as pd

1. С помощью матрицы (списка списков)

In [6]:
# Допишите код
data = [["1A",25],
        ["1Б",31],
        ["1B",28]]

df1 = pd.DataFrame(data, columns = ["class","count"])
df1

  class  count
0    1A     25
1    1Б     31
2    1B     28

2. С помощью списка словарей

In [9]:
# Допишите код
data = [{"class":"1A","count":25},
        {"class":"1Б","count":31},
        {"class":"1C", "count":28}]
df2 = pd.DataFrame(data,)
df2

  class  count
0    1A     25
1    1Б     31
2    1C     28

3. С помощью Series

In [12]:
# Допишите код
series = pd.DataFrame({"class":pd.Series(["1A","1B","1C"]),
                       "count":pd.Series([25,31,28])})
df3 = pd.DataFrame(series)
df3

  class  count
0    1A     25
1    1B     31
2    1C     28



|

|

|

|

|

|

|

|

|

|

|

|

|

|

|

|

|

|

**Ответы для самостоятельной проверки**

In [ ]:
import pandas as pd

In [ ]:
# 1.

data = [['1A', 25],
        ['1Б', 31],
        ['1B', 28]]
df1 = pd.DataFrame(data, columns = ['class', 'count'])
df1

  class  count
0    1A     25
1    1Б     31
2    1B     28

In [ ]:
# 2.

data = [{'class': '1A', 'count': 25},
        {'class': '1Б', 'count': 31},
        {'class': '1B', 'count': 28}]
df2 = pd.DataFrame(data)
df2

  class  count
0    1A     25
1    1Б     31
2    1B     28

In [ ]:
# 3.

series = {'class': pd.Series(['1A', '1Б', '1B']),
          'count': pd.Series([25, 31, 28])}
df3 = pd.DataFrame(series)
df3

  class  count
0    1A     25
1    1Б     31
2    1B     28